h1 
{ 
    text-align: center;
    color : blue ; 
}

#number1
{
    margin: 0 auto;
    display: block;
    padding: 10px;
    margin-bottom: 30px;
}

#number2 {
    margin: 0 auto;
    display: block;
    padding: 10px;
    margin-bottom: 30px;
}

#button-container 
{
    text-align: center;
    margin-bottom: 30px;
}

#divBtn {
    padding: 10px;
    margin-bottom: 50px;
}

#mulBtn {
    padding: 10px;
    margin-bottom: 50px;
}

#addBtn {
    padding: 10px;
    margin-bottom: 50px;
}

#subBtn {
    padding: 10px;
    margin-bottom: 50px;
}

#result-container 
{
    text-align: center;
}


